.IconArea {
  display: flex;
  flex-flow: row wrap;
  background: #FFF;

  .icon {
    box-sizing: border-box;
    padding: 30px 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > img {
      border-radius: 100%;
      display: block;
      width: 80%;
      object-fit: contain;
      margin-bottom: 20px;
    }

    > p {
      color: #333;
    }
  }

  .icon2 {
    width: 50%;

    > p {
      font-size: 28px;
    }
  }

  .icon4 {
    width: 25%;

    > p {
      font-size: 28px;
    }
  }

  .icon5 {
    width: 20%;

    > p {
      font-size: 24px;
    }
  }

  .activeIcon {
    opacity: 0.5;
  }
}
