.horizontal {
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.vertical {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.horizontalWrapper {
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
  > * {
    flex-shrink: 0;
  }
}

.verticalWrapper{
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  > * {
    flex-shrink: 0;
  }
}

.scrollToTop{
  position: fixed;
  right: 10%;
  bottom: 13%;
}

