.horizontal {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.vertical {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.horizontalWrapper {
  display: flex;
  flex-flow: row nowrap;

  > * {
    flex-shrink: 0;
  }
}

.verticalWrapper{
  display: flex;
  flex-flow: column nowrap;

  > * {
    flex-shrink: 0;
  }
}

.scrollToTop{
  position: fixed;
  right: 10%;
  bottom: 13%;
}

