.Subject {
  border-bottom: 10px solid #EEE;
  > div {
    display: flex;
    align-items: center;
    background: #ff4654;
    padding: 20px;

    > div.number {
      display: flex;
      box-sizing: border-box;
      color: white;
      padding-right: 10px;

      > p {
        > span {
          font-size: 34px;
        }

        font-size: 50px;

        > i {
          font-size: 32px;
        }
      }
    }

    > div.saleAmount {
      flex: 1;
      color: white;

      > span {
        text-decoration: line-through;
        font-size: 24px;
      }

      > p {
        font-size: 24px;

        > span {
          padding: 0 5px;
          background: white;
          color: #ff4654;
          border-radius: 5px;
          margin-left: 10px;
          font-size: 24px;
        }
      }
    }

    > p.timer {
      flex: 1;
      text-align: center;
      font-size: 28px;
      color: white;
    }
  }

  > p.title {
    background: white;
    padding: 20px;
    font-size: 30px;
    line-height: 40px;
    color: #666;

    > span {
      background: #ff4654;
      color: white;
      margin-right: 10px;
      border-radius: 5px;
      padding: 0 10px;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
