.GoodBestCollection {
  background: #FFF;
  padding: 20px 20px 0 20px;

  > h2 {
    color: #F110C4;
    font-size: 34px;
    line-height: 76px;
  }

  .wrapper {

    height: 320px;
    display: flex;

    > * {
      flex-shrink: 0;
    }
  }

  .member {
    width: 210px;
  }
}
