.GoodItem4 {
  box-sizing: border-box;
  padding: 0 20px 20px 0;

  > div {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #EEE;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    padding-top: 100%;

    > h2 {
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-align: left;
      font-size: 26px;
      color: #333;
      margin: 10px 0;
      padding: 0 10px;
    }

    > h3 {
      padding: 0 10px 10px;
      color: #E60044;

      > i {
        font-size: 22px;
      }

      font-size: 30px;

      > span {
        margin-left: 10px;
        text-decoration: line-through;
        color: #CCC;
        font-size: 22px;
      }
    }

    > span {
      position: absolute;
      left: 0;
      top: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      padding: 5px;
      color: white;
      background: #999;
    }

    > img {
      position: absolute;
      display: block;
      top: 0;
      left: 5px;
      width: 50px;
      height: 52px;
      object-fit: contain;
    }
  }
}

.active {
  opacity: 0.5;
}
