.CellItem {
  display: flex;
  align-items: center;
  padding: 20px;

  >p{
    > i {
      font-size: 34px;
      color: #666;
      padding: 10px 20px 10px 0;
    }

    > i.select {
      color: #db0000;
    }
  }

  > img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: 2px solid #EEE;
  }

  > div.right {
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-self: stretch;

    > div.top {
      > h2 {
        padding: 0 10px;
        box-sizing: border-box;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 28px;
        color: #333;
      }

      > h3 {
        > div.default {
          margin: 10px 0;
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          > p {
            font-size: 26px;
            color: #666;
          }

          > i {
            visibility: hidden;
            font-size: 28px;
            color: #333;
          }
        }

        > div.edit {
          margin: 5px 0;
          padding: 5px 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #DDD;

          > p {
            font-size: 26px;
            color: #333;
          }

          > i {
            font-size: 28px;
            color: #333;
          }
        }
      }

      > h3.active {
        > div {
          background: #CCC;
        }
      }
    }


    > div.price {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;

      > div.left {
        display: flex;
        align-items: flex-end;

        > h2 {
          margin-right: 10px;
          font-size: 30px;
          color: #db0000;

          > span {
            font-size: 26px;
          }
        }

        > h3 {
          font-size: 26px;
          color: #AAA;
          text-decoration: line-through;
        }
      }

      > div.right {
        display: flex;
        border: 2px solid #EEE;

        > i {
          width: 40px;
          height: 40px;
          font-size: 32px;
          color: #333;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        > span {
          border-left: 2px solid #EEE;
          border-right: 2px solid #EEE;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 28px;
          color: #333;
        }

        > i.active {
          background: #EEE;
        }
      }
    }
  }
}
