@keyframes bubble {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }

}

.AdArea {
  img.gallery {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  > div.areaWrapper {
    display: flex;
    align-items: flex-start;

    > .leftBig {
      position: relative;
      box-sizing: border-box;
      border-right: 2px solid #EEE;
      width: 50%;
      background-color: #FFF;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: contain;
      padding-top: 50%;

      > p.deadlinePrice {
        position: absolute;
        bottom: 20%;
        right: 10%;
        text-align: center;
        line-height: 90px;
        color: white;
        background: #ff4b7e;
        animation: bubble 1s ease-in-out infinite alternate;
        font-size: 26px;
        width: 90px;
        height: 90px;
        border-radius: 90px;
        font-weight: 600;

        > span {
          font-size: 22px;
          font-weight: 600;
        }
      }

      > p.active {
        opacity: 0.5;
      }
    }

    > div {
      width: 50%;

      > .rightTop {
        background-color: #FFF;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        padding-top: 50%;
        box-sizing: border-box;
        border-bottom: 2px solid #EEE;
      }

      .rightSmall {
        box-sizing: border-box;
        border-right: 2px solid #EEE;
        width: 50%;
        background-color: #FFF;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        padding-top: 50%;
      }
    }
  }


  .active {
    opacity: 0.5;
  }
}
