.IconArea {
  display: flex;
  flex-flow: row wrap;
  background: #FFF;

  .icon {
    box-sizing: border-box;
    width: 25%;
    padding: 30px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > img {
      border-radius: 100%;
      display: block;
      width: 80%;
      object-fit: contain;
      margin-bottom: 20px;
    }

    > p {
      color: #333;
      font-size: 28px;
    }
  }

  .activeIcon {
    opacity: 0.5;
  }
}
