/********* 清除默认样式 ********/
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font: normal 30px/1.2 tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53', sans-serif;
}

fieldset, img, input, button, textarea {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
  user-select: none;
  font: normal 30px/1.2 tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53', sans-serif;
}

ul, li, ol {
  list-style: none;
}

select, input {
  vertical-align: middle;
}

textarea {
  resize: none;
}

img {
  border: none;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

a, s, i, em, del, strong, u, b {
  text-decoration: none;
}

/********* 清除浮动 *********/
body {
  background: #FFF;
}

.clearFix {
  zoom: 1;
}

.clearFix::before {
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
}

.clearFix::after {
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.stickTop{
  z-index: 9999;
  position: fixed;
  top: 0;
}

.app {
  position: fixed;
  width: 100%;
  height: 100%;
}
