.Cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 2px solid #EEE;

  > p {
    font-size: 30px;
    color: #333;
  }

  >div{
    display: flex;
    align-items: center;
    > p {
      font-size: 26px;
      color: #333;
      margin-right: 10px;
    }
    > i {
      font-size: 24px;
      color: #666;
    }
  }
}

.boldBorder{
  border-width: 20px;
}

.active {
  background: #EEE;
}
