.Header {
  width: 100%;
  background: transparent url("../../image/topbg.png") no-repeat center/cover;

  .UIHeader {
    background: transparent;
    border: none;

    > p, span {
      font-weight: 600;
      color: white;
    }
  }

  > div.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0 60px;

    > div.loginReg {
      padding: 0 15px;
      border-radius: 70px;
      border: 5px solid #FFF;
      display: flex;
      align-items: center;

      > p {
        font-size: 38px;
        line-height: 38px;
        color: white;
        font-weight: 600;
      }

      > .button {
        font-size: 38px;
        line-height: 38px;
        color: white;
        font-weight: 600;
        padding: 20px;
      }

      > .active {
        opacity: 0.5;
      }
    }
  }

  > div.userInfo {
    padding: 30px;
    display: flex;
    align-items: center;

    > div.left {
      flex: 1;

      > h2 {
        text-align: left;
        font-size: 36px;
        color: white;
        margin-bottom: 10px;
        font-weight: 600;
      }

      > p {
        text-align: left;
        font-size: 24px;
        color: white;
        font-weight: 600;
      }
    }

    > i {
      font-size: 30px;
      color: white;
    }
  }

  > div.active {
    opacity: 0.5;
  }
}
